.accordion {
    margin-bottom: 0;
    background-color: #F3F4F6;
    box-shadow: 0 0 0 0; /* Không có shadow */

  }

.accordion-summary {
    background-color: #FFFFFF;
    border: none; /* Không có gạch dưới */
    text-align: center; /* Center text */
    padding: 10px 0; /* Thêm padding nếu cần */
}

.accordion-summary span {
    font-weight: bold;
}

.accordion-summary.expanded {
    color: #019376; /* Màu chữ khi panel mở */
}

.accordion-details {
    background-color: #FFFFFF;
}
