/* ProductCard.css */
.product-card {
    max-width: 320px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.discount-badge {
    position: absolute;
    top: 30px;
    right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.product-image {
    cursor: pointer;
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.favorite-button {
    color: #019376;
    border-radius: 50px;
    height: 40px;
    padding: 0 20px;
    right: -40px;
}

.cart-button {
    color: #019376;
    border-radius: 50px;
    height: 40px;
    padding: 0 20px;
}
